@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter-tight, var(--font-geist-sans));
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: var(--font-inter-tight), var(--font-geist-sans), var(--font-geist-mono), system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
